h1{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    color: black;
}



.status{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}



.status img{
    width: 30px;
}